/* adjustable settings */
body {
  /* scrollbar shift hotfix */
  width: 100vw;
  overflow-x: hidden;
  background-color: #eee;
}

/* colors */
header,
button,
a.button {
  background-color: #562b81;
  color: white;
}

.fa-pen {
  color: #562b81;
  font-size: 1.5rem;
}

/* text */

/* headings */
h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

/* content */
label {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  display: block;
  padding-bottom: 0.5rem;
}

input,
textarea,
p {
  width: 100%;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 25.6px;
}

input {
  height: 2.5rem;
}

textarea {
  height: calc(149rem / 16);
}

/* interactive */

/* container */
.navbar,
.hbar {
  display: flex;
  align-items: center;
}

/* interactive items */
a.button,
button,
.fa-pen {
  margin-right: 0;
  margin-left: auto;
}

a,
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

a.button,
button {
  display: flex;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  height: 2rem;
  width: 4.5rem;
  align-items: center;
  justify-content: center;
}

/* items */
.form-item,
.entry-item,
.entry {
  margin-bottom: 2rem;
}

.form-item img,
.entry-item img {
  border-radius: 0.25rem;
  height: 245px;
  object-fit: cover;
}

/* one-offs */
.navbar a {
  margin: 0 1rem;
}

li.empty p {
  text-align: center;
}

ul,
div[data-view='entries'] {
  width: 100%;
}

#delete-entry {
  color: red;
  font-size: calc(7rem / 8);
  text-decoration: underline;
}

/* desktop responsive */
@media screen and (width >= 768px) {
  .container {
    padding: 0 5.1875rem;
  }

  .form-item img,
  .entry-item img {
    height: 340px;
  }
}
